.Calendar {
    background: gray;
    width: 100%;
    font-family: "Lucida Console", Helvetica, sans-serif;
    //padding-left: 3rem;
    //min-height: 100vh;
    //height: 100%;
    //padding: 1rem;
    .navSpace {
        display: flex;
        .nav {
            //background: blueviolet;
            display: flex;
            align-items: center;
            color: white;
            font-size: 4rem;
            margin-right: 1rem;
        }
        .body {
            padding-top: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            flex: 1;
            .daysArray {
                display: flex;
                margin-top: 1rem;
                padding-bottom: 0.5rem;
                font-size: 1.25rem;
                font-weight: bold;
                color: white;
                border-bottom: 3px solid white;
                .days {
                    width: calc(100% / 7);
                    &:nth-child(7n + 1) {
                        color: #D13E3E;
                    }
                    &:nth-child(7n) {
                        color: #396EE2;
                    }
                }
            }
        }   
    }
}